<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/admin/acount.png" class="img-circle elevation-2" alt="User" />
      </div>
      <div class="info">
        <a [routerLink]="['/user-profile']" class="d-block">{{ user.userName }}</a>
      </div>
    </div>

    <nav class="mt-2">
      <p-menu [model]="items" styleClass="menu-full-width"></p-menu>
    </nav>
  </div>
</aside>
