<img src="/assets/img/404.png" alt="404" />
<div class="d-flex align-items-center flex-column">
  <h3><span>Địa chỉ bạn tìm kiếm không tồn tại!</span></h3>
  <!-- <a class="genric-btn success-border medium" [routerLink]="['/news']">Quay lại Trang chủ</a> -->
</div>
