<div [class.isPrinting]="printService.isPrinting">
  <app-print [printData]="printData"></app-print>
</div>

<div class="card" [class.isPrinting]="printService.isPrinting">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"></ng-template>
    <ng-template pTemplate="right">
      <!--<button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Create"
        (click)="openCreateDialog()"></button>
      <button class="p-button-danger p-mr-2" pButton pRipple icon="pi pi-trash" label="Delete"
        [disabled]="!selectedShippingMark" (click)="openDeleteDialog(selectedShippingMark)"></button>

      <button class="p-button-success p-mr-2" pButton pRipple label="Edit" icon="pi pi-pencil"
        [disabled]="!selectedShippingMark" (click)="openEditDialog(selectedShippingMark)"></button>

      <button class="p-button-help p-mr-2" pButton pRipple label="Confirm" icon="pi pi-check-circle"
        [disabled]="!selectedShippingMark" (click)="completeShippingRequest(selectedShippingMark)"></button>

      <button class="p-button-warning" pButton pRipple icon="pi pi-search" label="History"
        (click)="openHistoryDialog()"></button>-->
    </ng-template>
  </p-toolbar>

  <p-table #shippingMarkDataTable dataKey="id" [value]="integrationHistory" [rows]="20" [columns]="cols" [paginator]="true" [scrollable]="true" [globalFilterFields]="fields">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="shippingMarkDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn || TypeColumn.ExpandColumn">
              <th class="p-text-center"></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th class="p-text-center" [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-columns="columns" let-expanded="expanded">
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <td class="p-text-center">
                <p-tableRadioButton [value]="item"></p-tableRadioButton>
              </td>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              <td>
                {{ item[col.field] }}
              </td>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              <td class="p-text-center">
                {{ item[col.field] | date: 'dd/MM/yyyy h:mm:ss a' }}
              </td>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              <td>
                {{ item[col.field][col.subField] }}
              </td>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              <td>
                {{ item[col.field] }}
              </td>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NumberColumn">
              <td class="p-text-center">
                {{ item[col.field] }}
              </td>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.ExpandColumn">
              <td class="p-text-center">
                <button
                  type="button"
                  pButton
                  pRipple
                  (click)="getShippingMarkMovementRequestsFullInfo(item)"
                  [pRowToggler]="item"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="expanded ? 'pi pi-ellipsis-v' : 'pi pi-ellipsis-h'"
                ></button>
              </td>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <!-- <ng-template pTemplate="rowexpansion" let-shippingMark>
      <tr>
        <td colspan="6" class="shipping-mark__expaned">
          <div>
            <p-table class="shipping-mark__expaned-table" [value]="shippingMark.shippingMarkShippings">
              <ng-template pTemplate="header">
                <tr>
                  <th class="p-text-center">Product Number</th>
                  <th class="p-text-center">Description</th>
                  <th class="p-text-center">Qty/ Pkg</th>
                  <th class="p-text-center">Total Quantity</th>
                  <th class="p-text-center">Total Package</th>
                  <th class="p-text-center">Total Quantity Printed</th>
                  <th class="p-text-center"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{ item?.product?.productNumber }}</td>
                  <td>{{ item?.product?.productName }}</td>
                  <td class="p-text-center">
                    {{ item?.product?.qtyPerPackage }}
                  </td>
                  <td class="p-text-center">{{ item?.totalQuantity }}</td>
                  <td class="p-text-center">{{ item?.totalPackage }}</td>
                  <td class="p-text-center">{{ item?.totalQuantityPrinted }}</td>
                  <td class="p-text-center">
                    <button
                      pButton
                      pRipple
                      pTooltip="Printing Details"
                      tooltipPosition="left"
                      icon="pi pi-briefcase"
                      class="p-button-rounded p-button-text"
                      (click)="showDetailShippingMarkSummary(shippingMark, item)"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template> -->
  </p-table>
</div>

<!-- <app-shipping-mark-create
  [shippingMarkForm]="shippingMarkForm"
  [titleDialog]="titleDialog"
  [shippingRequests]="shippingRequests"
  [shippingMarkShippings]="shippingMarkShippings"
  [isShowDialog]="isShowDialogCreate"
  (submitEvent)="onSubmit()"
  (hideDialogEvent)="hideDialog($event)"
  (selectedShippingRequestEvent)="handleSelectedShippingRequest($event)"
>
</app-shipping-mark-create> -->
<!-- 
<app-shipping-mark-details
  [class.isPrinting]="printService.isPrinting"
  [titleDialog]="titleDialog"
  [isShowDialog]="isShowDialogDetail"
  [user]="user"
  [canRePrint]="canRePrint"
  [shippingMarkPrintings]="shippingMarkPrintings"
  (hideDialogEvent)="hideDialog($event)"
  (printMarkEvent)="printShippingMark()"
  (rePrintMarkEvent)="handleRePrintMark($event)"
>
</app-shipping-mark-details> -->
<!-- 
<app-shipping-mark-edit
  [shippingMarkForm]="shippingMarkForm"
  [titleDialog]="titleDialog"
  [shippingMark]="currentShippingMark"
  [isShowDialog]="isShowDialogEdit"
  (submitEvent)="onSubmit()"
  (hideDialogEvent)="hideDialog($event)"
>
</app-shipping-mark-edit> -->

<!-- <app-history-dialog [isShowDialog]="isShowDialogHistory" [type]="HistoryDialogType.ShippingMark" (hideDialogEvent)="hideDialog()"> </app-history-dialog> -->
