<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <!-- <button (click)="openImportSection()" pButton pRipple label="Import" icon="pi pi-upload" class="p-button-primary p-mr-2"></button>
      <button (click)="exportTemplate()" pButton pRipple label="Export Template" icon="pi pi-download" class="p-button-help"></button> -->
    </ng-template>

    <ng-template pTemplate="right">
      <!--<button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Create"
        (click)="openCreateDialog()"></button>
      <button class="p-button-danger p-mr-2" pButton pRipple icon="pi pi-trash" label="Delete"
        [disabled]="!selectedWorkOrder" (click)="openDeleteDialog(selectedWorkOrder)"></button>
      <button class="p-button-success p-mr-2" pButton pRipple label="Edit" icon="pi pi-pencil"
        [disabled]="!selectedWorkOrder" (click)="openEditDialog(selectedWorkOrder)"></button>
      <button class="p-button-warning" pButton pRipple icon="pi pi-search" label="History"
        (click)="openHistoryDialog()"></button>-->
    </ng-template>
  </p-toolbar>

  <p-table
    #workOrderDataTable
    dataKey="id"
    columnResizeMode="expand"
    [value]="errorsLog"
    [rows]="20"
    [columns]="cols"
    [paginator]="true"
    [scrollable]="true"
    [globalFilterFields]="fields"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="workOrderDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn || TypeColumn.ExpandColumn">
              <th></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-columns="columns" let-expanded="expanded" let-rowIndex="rowIndex">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton [value]="item"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{rowIndex + 1}}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{ item[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ item[col.field] | date: 'dd/MM/yyyy HH:MM:SS a' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ item[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ item[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.ExpandColumn">
              <button
                type="button"
                pButton
                pRipple
                (click)="getDetailWorkOrder(item)"
                [pRowToggler]="item"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-ellipsis-v' : 'pi pi-ellipsis-h'"
              ></button>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <!-- <ng-template pTemplate="rowexpansion" let-workOrder>
      <tr>
        <td [attr.colspan]="cols.length" class="work-order__expaned">
          <div>
            <p-table class="work-order__expaned-table" [value]="workOrder.movementRequestDetails">
              <ng-template pTemplate="header">
                <tr>
                  <th>Movement Request Id</th>
                  <th>Product Number</th>
                  <th>Description</th>
                  <th>Qty/ Pkg</th>
                  <th>Moved Qty</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{ item?.movementRequest?.identifier }}</td>
                  <td>{{ item?.product?.productNumber }}</td>
                  <td>{{ item?.product?.productName }}</td>
                  <td>{{ item?.product?.qtyPerPackage | number }}</td>
                  <td>{{ item?.quantity | number }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template> -->
  </p-table>
</div>

<!-- <app-work-order-create [workOrderForm]="workOrderForm" [titleDialog]="titleDialog" [products]="products"
  [isShowDialog]="isShowDialogCreate" (submitEvent)="onSubmit()" (hideDialogEvent)="hideDialog()">
</app-work-order-create>

<app-work-order-edit [workOrder]="selectedWorkOrder" [workOrderForm]="workOrderForm" [titleDialog]="titleDialog"
  [isShowDialog]="isShowDialogEdit" (submitEvent)="onSubmit()" (hideDialogEvent)="hideDialog()">
</app-work-order-edit>

<app-history-dialog [isShowDialog]="isShowDialogHistory" [type]="HistoryDialogType.WorkOrder"
  (hideDialogEvent)="hideDialog()"> </app-history-dialog> -->
