<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"> </ng-template>

    <ng-template pTemplate="right">
      <!--<button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Create"
        (click)="openCreateDialog()"></button>
      <button class="p-button-danger p-mr-2" pButton pRipple icon="pi pi-trash" label="Delete"
        [disabled]="!selectedShippingRequest" (click)="openDeleteDialog(selectedShippingRequest)"></button>

      <button class="p-button-warning" pButton pRipple icon="pi pi-search" label="History"
        (click)="openHistoryDialog()"></button>-->
    </ng-template>
  </p-toolbar>

  <p-table
    #shippingRequestDataTable
    dataKey="id"
    columnResizeMode="expand"
    [value]="attendanceSummary"
    [rows]="20"
    [columns]="cols"
    [paginator]="true"
    [scrollable]="true"
    [globalFilterFields]="fields"
    [expandedRowKeys]="expandedItems"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="shippingRequestDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn || TypeColumn.ExpandColumn">
              <th></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-columns="columns" let-expanded="expanded">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton [value]="item"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{ item[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ item[col.field] | date: 'dd/MM/yyyy h:mm:ss a' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ item[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ item[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NumberColumn">
              {{ item[col.field] | number }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.ExpandColumn">
              <button
                type="button"
                pButton
                pRipple
                (click)="getDetailShippingRequestById(item.id)"
                [pRowToggler]="item"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-ellipsis-v' : 'pi pi-ellipsis-h'"
              ></button>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-shippingRequest>
      <tr>
        <td [attr.colspan]="cols.length" class="shipping-request__expaned">
          <div>
            <p-table class="shipping-request__expaned-table" [value]="shippingRequest.shippingRequestDetails">
              <ng-template pTemplate="header">
                <tr>
                  <th class="p-text-center">Product Number</th>
                  <th class="p-text-center">Sales Order</th>
                  <th class="p-text-center">Saleline Number</th>

                  <th class="p-text-center">Quantity<span class="p-invalid"> *</span></th>
                  <th class="p-text-center">Price (USD)<span class="p-invalid"> *</span></th>
                  <th class="p-text-center">Amount (USD)</th>

                  <th class="p-text-center">Shipping Mode</th>
                  <th class="p-text-center"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td class="p-text-center">
                    {{ item?.product?.productNumber }}
                  </td>

                  <td class="p-text-center">
                    {{ item?.salesOrder }}
                  </td>

                  <td class="p-text-center">
                    {{ item?.salelineNumber }}
                  </td>

                  <td class="p-text-center">
                    {{ item?.quantity | number }}
                  </td>

                  <td class="p-text-center">
                    {{ item?.price | number }}
                  </td>

                  <td class="p-text-center">
                    {{ item?.amount | number }}
                  </td>

                  <td class="p-text-center">
                    {{ item?.shippingMode }}
                  </td>

                  <td class="p-text-center">
                    <button
                      pButton
                      pRipple
                      pTooltip="Update Documents"
                      tooltipPosition="left"
                      icon="pi pi-file"
                      class="p-button-rounded p-button-text"
                      (click)="openDocumentsDialog(item)"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!-- 
<app-shipping-request-create
  [shippingRequestForm]="shippingRequestForm"
  [titleDialog]="titleDialog"
  [isShowDialog]="isShowDialogCreate"
  [shippingPlans]="shippingPlans"
  (submitEvent)="onCreate()"
  (hideDialogEvent)="hideDialog()"
>
</app-shipping-request-create> -->

<!-- <app-history-dialog [isShowDialog]="isShowDialogHistory" [type]="HistoryDialogType.ShippingRequest" (hideDialogEvent)="hideDialog()"> </app-history-dialog> -->

<!-- <app-shipping-request-documents
  [selectedShippingRequestDetail]="selectedShippingRequestDetail"
  [titleDialog]="titleDialog"
  [isShowDialog]="isShowDialogDocuments"
  (hideDialogEvent)="hideDialog()"
>
</app-shipping-request-documents> -->
