<nav class="main-header navbar navbar-expand navbar-white navbar-light" style="z-index: 100">
  <ul class="navbar-nav d-flex justify-content-between w-100">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link pointer" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
