<section class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="/">Login</a>
    </div>

    <div class="card">
      <div class="card-body login-card-body">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="input-group mb-3">
            <input [formControl]="userName" type="email" class="form-control" placeholder="Username" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <span *ngIf="(userName.touched || submitted) && userName.errors?.required" id="userName" class="error invalid-feedback" style="display: block">
              Please specify a username
            </span>
            <span *ngIf="(userName.touched || submitted) && userName.errors?.email" id="userName" class="error invalid-feedback" style="display: block"
              >Please enter a valid email</span
            >
          </div>
          <div class="input-group mb-3">
            <input [formControl]="password" type="password" class="form-control" placeholder="Password" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span *ngIf="(password.touched || submitted) && password.errors?.required" id="password" class="error invalid-feedback" style="display: block"
              >Please specify a password</span
            >
            <span *ngIf="(password.touched || submitted) && password.errors?.minlength" id="password" class="error invalid-feedback" style="display: block"
              >Password must be at least 6 characters</span
            >
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
