<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" src="assets/img/admin/acount.png" alt="User profile picture" />
            </div>

            <h3 class="profile-username text-center">{{ user?.userName }}</h3>

            <p class="text-muted text-center">{{ user?.roles?.length > 0 ? user?.roles[0] : '' }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <p>{{ 'Change Password' | uppercase }}</p>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="settings">
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                  <div class="p-grid p-fluid">
                    <div class="p-col-3">Old Password</div>
                    <div class="p-col-9">
                      <div class="p-field">
                        <input
                          [ngClass]="{ 'ng-dirty': oldPassword.invalid && (oldPassword.dirty || oldPassword.touched) }"
                          pInputText
                          id="password"
                          [formControl]="oldPassword"
                          type="password"
                          placeholder="Password"
                        />
                        <span class="p-invalid p-error" *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched || submitted)">
                          <ng-container *ngIf="oldPassword.errors.required">Please specify a password</ng-container>
                          <ng-container *ngIf="oldPassword.errors.minlength">Password must be at least 6 characters.</ng-container>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="p-grid p-fluid">
                    <div class="p-col-3">New Password</div>
                    <div class="p-col-9">
                      <div class="p-field">
                        <input
                          [ngClass]="{ 'ng-dirty': newPassword.invalid && (newPassword.dirty || newPassword.touched) }"
                          pInputText
                          id="newPassword"
                          type="password"
                          [formControl]="newPassword"
                          placeholder="New Password"
                        />
                        <span class="p-invalid p-error" *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched || submitted)">
                          <ng-container *ngIf="newPassword.errors.required">Please specify a new password</ng-container>
                          <ng-container *ngIf="newPassword.errors.minlength">Password must be at least 6 characters.</ng-container>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="p-grid p-fluid">
                    <div class="p-col-3">Confirm Password</div>
                    <div class="p-col-9">
                      <div class="p-field">
                        <input
                          [ngClass]="{ 'ng-dirty': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) }"
                          pInputText
                          type="password"
                          id="confirmPassword"
                          [formControl]="confirmPassword"
                          placeholder="Confirm Password"
                        />
                        <span class="p-invalid p-error" *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched || submitted)">
                          <ng-container *ngIf="confirmPassword.errors.required">Please specify a confirm password</ng-container>
                          <ng-container *ngIf="confirmPassword.errors.minlength">Password must be at least 6 characters.</ng-container>
                          <ng-container *ngIf="confirmPassword.errors.invalidConfirmPassword">Confirm password does not match with your new password</ng-container>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="p-grid p-fluid">
                    <div class="p-col-3"></div>
                    <div class="p-col-9">
                      <button [style.width.px]="120" [disabled]="changePasswordForm.invalid" type="submit" pButton pRipple label="Submit" class="p-button-success"></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
