<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <!-- <button (click)="openImportSection()" pButton pRipple label="Import" icon="pi pi-upload" class="p-button-primary p-mr-2"></button>
      <button (click)="exportTemplate()" pButton pRipple label="Export Template" icon="pi pi-download" class="p-button-help"></button> -->
    </ng-template>

    <ng-template pTemplate="right">
      <button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Create" (click)="openCreateDialog()"></button>
      <button class="p-button-danger p-mr-2" pButton pRipple icon="pi pi-trash" label="Delete" [disabled]="!selectedItem" (click)="deleteProduct(selectedItem)"></button>
      <button class="p-button-success p-mr-2" pButton pRipple label="Edit" icon="pi pi-pencil" [disabled]="!selectedItem" (click)="editProduct(selectedItem)"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #machineModelsDataTable
    dataKey="id"
    columnResizeMode="expand"
    [value]="products"
    [rows]="20"
    [columns]="cols"
    [paginator]="true"
    [scrollable]="true"
    [globalFilterFields]="fields"
    [(selection)]="selectedItem"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="machineModelsDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <th></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{rowIndex + 1}}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton [value]="item"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ item[col.field] | date: 'dd/MM/yyyy h:mm:ss a' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ item[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ item[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [closeOnEscape]="true" [(visible)]="dialog" [header]="titleDialog" [modal]="true" styleClass="p-fluid p-w-500">
  <ng-template pTemplate="content">
    <form [formGroup]="deviceMachineForm">
      <div class="p-field">
        <label for="seriNumber">Seri Number<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': seriNumberControl.invalid && (seriNumberControl.dirty || seriNumberControl.touched) }"
          pInputText
          id="seriNumber"
          [formControl]="seriNumberControl"
          type="text"
        />
        <ng-container *ngIf="seriNumberControl.invalid && (seriNumberControl.dirty || seriNumberControl.touched)">
          <small class="p-invalid p-error">Please enter seri number</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="factoryName">Factory Name<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': factoryNameControl.invalid && (factoryNameControl.dirty || factoryNameControl.touched) }"
          pInputText
          id="factoryName"
          [formControl]="factoryNameControl"
          type="text"
        />
        <ng-container *ngIf="factoryNameControl.invalid && (factoryNameControl.dirty || factoryNameControl.touched)">
          <small class="p-invalid p-error">Please enter Factory Name</small>
        </ng-container>
      </div>
      <div class="p-field">
        <label for="deviceCode">Device Code<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': deviceCodeControl.invalid && (deviceCodeControl.dirty || deviceCodeControl.touched) }"
          pInputText
          id="deviceCode"
          [formControl]="deviceCodeControl"
          type="text"
        />
        <ng-container *ngIf="deviceCodeControl.invalid && (deviceCodeControl.dirty || deviceCodeControl.touched)">
          <small class="p-invalid p-error">Please enter Machine Code</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="ipAddress">IP<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': ipAddressControl.invalid && (ipAddressControl.dirty || ipAddressControl.touched) }"
          pInputText
          id="ipAddress"
          [formControl]="ipAddressControl"
          type="text"
        />
        <ng-container *ngIf="ipAddressControl.invalid && (ipAddressControl.dirty || ipAddressControl.touched)">
          <small class="p-invalid p-error">Please enter Machine IP Address</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="portNumber">Port Number<span class="p-invalid"> *</span></label>
        <p-inputNumber
          [ngClass]="{ 'ng-dirty': portNumberControl.invalid && (portNumberControl.dirty || portNumberControl.touched) }"
          inputId="portNumber"
          [formControl]="portNumberControl"
        >
        </p-inputNumber>
        <ng-container *ngIf="portNumberControl.invalid && (portNumberControl.dirty || portNumberControl.touched)">
          <small class="p-invalid p-error">Please enter Machine Port Number</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="activeCode">Active Code<span class="p-invalid"></span></label>
        <input pInputText id="activeCode" [formControl]="activeCodeControl" type="text" disabled />
      </div>

      <div class="p-field">
        <label for="activeCode">Active<span class="p-invalid"></span></label>
      </div>

      <div class="p-field">
        <p-inputSwitch [formControl]="activeControl" (onChange)="handleChangeActive($event)"></p-inputSwitch>
      </div>

      <div class="p-field">
        <label for="notes">Notes</label>
        <textarea id="notes" pInputTextarea [rows]="3" [formControl]="notesControl"></textarea>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-between">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="deviceMachineForm.invalid" (click)="onSubmit()"></button>
    </div>
  </ng-template>
</p-dialog>
