.hide {
  display: none;
  visibility: hidden;
}

.progress-bar {
  height: 6px;
}

p-toast {
  ::ng-deep .p-toast {
    z-index: 999999999 !important;
  }
}

p-confirmdialog {
  ::ng-deep .p-dialog-mask {
    z-index: 999999999 !important;
  }
}

@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
  }
  body {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
