<p-progressBar mode="indeterminate" [ngClass]="loading ? 'progress-bar' : 'hide'"></p-progressBar>
<p-toast></p-toast>
<router-outlet></router-outlet>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
