<p-dialog [closeOnEscape]="true" header="History" styleClass="p-fluid p-w-1000" [modal]="true" [(visible)]="isShowDialog" (onHide)="hideDialog()">
  <ng-template pTemplate="content">
    <div class="history__search-group">
      <label for="search">Search Id: </label>
      <input id="search" class="history__search-input" type="text" pInputText [(ngModel)]="searchText" (keydown.enter)="search()" />
      <button class="p-button-success history__search-button" pButton pRipple label="Search" icon="pi pi-search" [disabled]="!searchText" (click)="search()"></button>
    </div>

    <p-table
      #historyDataTable
      dataKey="id"
      columnResizeMode="expand"
      [value]="histories"
      [columns]="cols"
      [paginator]="true"
      [scrollable]="true"
      [rows]="10"
      [lazy]="true"
      [loading]="loading"
    >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [style.width.px]="col.width" />
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngFor="let col of columns">
            <ng-container [ngSwitch]="col.type">
              <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn || TypeColumn.ExpandColumn">
                <th></th>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <th [pSortableColumn]="col.field">
                  {{ col.header }}
                  <ng-container *ngIf="col.field">
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </ng-container>
                </th>
              </ng-container>
            </ng-container>
          </ng-container>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length" class="text-center">No records found</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-shippingRequest let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <ng-container [ngSwitch]="col.type">
              <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
                <p-tableRadioButton [value]="shippingRequest"></p-tableRadioButton>
              </ng-container>
              <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
                {{ shippingRequest[col.field] }}
              </ng-container>
              <ng-container *ngSwitchCase="TypeColumn.DateColumn">
                {{ shippingRequest[col.field] | date: 'dd/MM/yyyy' }}
              </ng-container>
              <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
                {{ shippingRequest[col.field][col.subField] }}
              </ng-container>
              <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
                {{ shippingRequest[col.field] }}
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-dialog>
