<div class="wrapper">
  <admin-navbar></admin-navbar>
  <admin-control-sidebar></admin-control-sidebar>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
    <router-outlet name="print"></router-outlet>
  </div>
  <admin-footer></admin-footer>
</div>
