<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"> </ng-template>

    <ng-template pTemplate="right">
      <button
        class="p-button-success p-mr-2"
        pButton
        pRipple
        label="Edit"
        icon="pi pi-pencil"
        [disabled]="!selectedSchedulerSetting"
        (click)="openEditDialog(selectedSchedulerSetting)"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #configurationDataTable
    dataKey="key"
    [columns]="cols"
    [value]="schedulerSettings"
    [globalFilterFields]="colFields"
    [(selection)]="selectedSchedulerSetting"
    [paginator]="true"
    [rows]="20"
    [scrollable]="true"
    styleClass="p-datatable-custom"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="configurationDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn || TypeColumn.ExpandColumn">
              <th></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton [value]="item"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{ item[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ item[col.field] | date: 'dd/MM/yyyy h:mm:ss a' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ item[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ item[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Edit Configuration Dialog -->
<p-dialog [closeOnEscape]="true" header="Service Coverage Setting" styleClass="p-fluid p-w-500" [modal]="true" [(visible)]="isShowEditDialog" (onHide)="hideEditDialog()">
  <ng-template pTemplate="content">
    <form [formGroup]="schedulerSettingForm">
      <div class="p-field">
        <label for="key">Key<span class="p-invalid"> *</span></label>
        <input [ngClass]="{ 'ng-dirty': keyControl.invalid && (keyControl.dirty || keyControl.touched) }" pInputText id="key" [formControl]="keyControl" type="text" disabled />
        <ng-container *ngIf="keyControl.invalid && (keyControl.dirty || keyControl.touched)">
          <small *ngIf="keyControl && keyControl.errors?.required" class="p-invalid p-error">Key is required.</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="descriptions">Descriptions</label>
        <input
          [ngClass]="{ 'ng-dirty': descriptionsControl.invalid && (descriptionsControl.dirty || descriptionsControl.touched) }"
          pInputText
          id="descriptions"
          [formControl]="descriptionsControl"
          type="text"
        />
      </div>

      <div class="p-field">
        <label for="coverageQty">Total Coverage Qty<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': coverageQtyControl.invalid && (coverageQtyControl.dirty || coverageQtyControl.touched) }"
          pInputText
          id="coverageQty"
          [formControl]="coverageQtyControl"
          type="number"
          min="0"
          max="100"
        />
        <ng-container *ngIf="coverageQtyControl.invalid && (coverageQtyControl.dirty || coverageQtyControl.touched)">
          <small *ngIf="coverageQtyControl && coverageQtyControl.errors?.required" class="p-invalid p-error">Please specify a coverage Qty</small>
        </ng-container>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="schedulerSettingForm.invalid" (click)="onEdit()"></button>
  </ng-template>
</p-dialog>
