<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <!-- <button (click)="openImportSection()" pButton pRipple label="Import" icon="pi pi-upload" class="p-button-primary p-mr-2"></button>
      <button (click)="exportTemplate()" pButton pRipple label="Export Template" icon="pi pi-download" class="p-button-help"></button> -->
    </ng-template>

    <ng-template pTemplate="right">
      <button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Thêm" (click)="openCreateDialog()"></button>
      <button class="p-button-danger p-mr-2" pButton pRipple icon="pi pi-trash" label="Xóa" [disabled]="!selectedItem" (click)="deleteItem(selectedItem)"></button>
      <button class="p-button-success p-mr-2" pButton pRipple label="Sửa" icon="pi pi-pencil" [disabled]="!selectedItem" (click)="editItem(selectedItem)"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #recruitmentsModelsDataTable
    dataKey="id"
    columnResizeMode="expand"
    [value]="recruitments"
    [rows]="5"
    [columns]="cols"
    [paginator]="true"
    [scrollable]="true"
    [globalFilterFields]="fields"
    [(selection)]="selectedItem"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="recruitmentsModelsDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <th></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{rowIndex + 1}}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton [value]="item"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ item[col.field] | date: 'dd/MM/yyyy h:mm:ss a' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ item[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ item[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.ImagesColumn">
              <img style="width: 150px;height: 150px;" [src]="item[col.field]" alt="">
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [closeOnEscape]="true" [(visible)]="dialog" [header]="titleDialog" [modal]="true" styleClass="p-fluid p-w-500">
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <div class="p-field">
        <label for="jobTitle">Tiêu Đề<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': jobTitleControl.invalid && (jobTitleControl.dirty || jobTitleControl.touched) }"
          pInputText
          id="jobTitle"
          [formControl]="jobTitleControl"
          type="text"
        />
        <ng-container *ngIf="jobTitleControl.errors?.required && (jobTitleControl.dirty || jobTitleControl.touched)">
          <small class="p-invalid p-error">Vui lòng nhập tiêu đề</small>
        </ng-container>
        <ng-container *ngIf="jobTitleControl.errors?.minlength">
          <small class="p-invalid p-error">Tiêu đề không được dưới 6 ký tự</small>
        </ng-container>
        <ng-container *ngIf="jobTitleControl.errors?.maxlength">
          <small class="p-invalid p-error">Tiêu đề chỉ được tối đa 250 ký tự</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="recruitQuantity">Số lượng tuyển dụng<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': recruitQuantityControl.invalid && (recruitQuantityControl.dirty || recruitQuantityControl.touched) }"
          pInputText
          id="recruitQuantity"
          [formControl]="recruitQuantityControl"
          type="number"
          min="1"
          max="1000"
        />
        <ng-container *ngIf="recruitQuantityControl.errors?.required && (recruitQuantityControl.dirty || recruitQuantityControl.touched)">
          <small class="p-invalid p-error">Vui lòng nhập số lượng tuyển dụng</small>
        </ng-container>
        <ng-container *ngIf="recruitQuantityControl.errors?.min">
          <small class="p-invalid p-error">Số lượng không thể nhỏ hơn 1</small>
        </ng-container>
        <ng-container *ngIf="recruitQuantityControl.errors?.max">
          <small class="p-invalid p-error">Số lượng tối đa là 1000</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="expirationDate">Ngày hết hạn<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': expirationDateControl.invalid && (expirationDateControl.dirty || expirationDateControl.touched) }"
          pInputText
          id="expirationDate"
          [formControl]="expirationDateControl"
          type="datetime-local"
        />
        <ng-container *ngIf="expirationDateControl.errors?.required && (expirationDateControl.dirty || expirationDateControl.touched)">
          <small class="p-invalid p-error">Vui lòng nhập ngày hết hạn</small>
        </ng-container>
      </div>



      <div class="p-field">
        <label>Trách Nhiệm Công Việc</label>
        <app-ckeditor [content]="responsibilitiesControl.value" (eventOnChange)="handleValueCkChange($event,'responsibilities')"></app-ckeditor>
      </div>

      <div class="p-field">
        <label>Yêu Cầu Công Việc</label>
        <app-ckeditor [content]="requirementsControl.value" (eventOnChange)="handleValueCkChange($event,'requirements')"></app-ckeditor>
      </div>

      <div class="p-field">
        <label>Lương Và Phúc Lợi</label>
        <app-ckeditor [content]="salaryAndBenefitsControl.value" (eventOnChange)="handleValueCkChange($event,'salaryAndBenefits')"></app-ckeditor>
      </div>

     
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-between">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="form.invalid" (click)="onSubmit()"></button>
    </div>
  </ng-template>
</p-dialog>
