<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <!-- <button (click)="openImportSection()" pButton pRipple label="Import" icon="pi pi-upload" class="p-button-primary p-mr-2"></button>
      <button (click)="exportTemplate()" pButton pRipple label="Export Template" icon="pi pi-download" class="p-button-help"></button> -->
    </ng-template>

    <ng-template pTemplate="right">
      <button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Ping Status" [disabled]="!selectedManualControl" (click)="ping()"></button>
      <button class="p-button-help p-mr-2" pButton pRipple label="Reconnect" icon="pi pi-pencil" [disabled]="!selectedManualControl" (click)="reconnect()"></button>
      <button class="p-button-success p-mr-2" pButton pRipple label="Restart" icon="pi pi-refresh" [disabled]="!selectedManualControl" (click)="restartDevice()"></button>
      <button class="p-button-secondary p-mr-2" pButton pRipple label="Download log" icon="pi pi-download" [disabled]="!selectedManualControl" (click)="downloadLog()"></button>
      <button class="p-button-danger p-mr-2" pButton pRipple label="Delete log" icon="pi pi-times-circle" [disabled]="!selectedManualControl" (click)="deleteLog()"></button>
      <!-- <button class="p-button-danger p-mr-2" pButton pRipple icon="pi pi-trash" label="Disconnect"
        [disabled]="!selectedItem" (click)="deleteProduct(selectedItem)"></button> -->
    </ng-template>
  </p-toolbar>

  <p-table
    #shippingPlanDataTable
    dataKey="id"
    columnResizeMode="expand"
    [value]="manualControls"
    [rows]="20"
    [columns]="cols"
    [paginator]="true"
    [scrollable]="true"
    [globalFilterFields]="fields"
    [(selection)]="selectedManualControl"
    [expandedRowKeys]="expandedItems"
    (onRowSelect)="onSelected(selectedManualControl)"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="shippingPlanDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn || TypeColumn.ExpandColumn">
              <th></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-columns="columns" let-expanded="expanded" let-rowIndex="rowIndex">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton [value]="item"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{rowIndex + 1}}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{ item[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ item[col.field] | date: 'dd/MM/yyyy h:mm:ss a' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ item[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ item[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NumberColumn">
              {{ item[col.field] | number }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.ExpandColumn">
              <button
                type="button"
                pButton
                pRipple
                (click)="getDetailShippingPlanById(item.id)"
                [pRowToggler]="item"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-ellipsis-v' : 'pi pi-ellipsis-h'"
              ></button>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-shippingPlan>
      <tr>
        <td [attr.colspan]="cols.length" class="shipping-plan__expaned">
          <div>
            <p-table class="shipping-plan__expaned-table" [value]="shippingPlan.shippingPlanDetails">
              <ng-template pTemplate="header">
                <tr>
                  <th>Product Number</th>
                  <th>Description</th>
                  <th>Qty/ Pkg</th>
                  <th>Quantity</th>
                  <th>Price (USD)</th>
                  <th>Amount (USD)</th>
                  <th>Shipping Mode</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>{{ item?.product?.productNumber }}</td>
                  <td>{{ item?.product?.productName }}</td>
                  <td>{{ item?.product?.qtyPerPackage }}</td>
                  <td>{{ item?.quantity | number }}</td>
                  <td>{{ item?.price | number }}</td>
                  <td>{{ item?.amount | number }}</td>
                  <td>{{ item?.shippingMode }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [closeOnEscape]="true" [(visible)]="showDialogDownload" [header]="titleDialog" [modal]="true" styleClass="p-fluid p-w-500">
  <ng-template pTemplate="content">
    <form [formGroup]="downloadLogForm">
      <div class="p-field">
        <label for="fromTime">From<span class="p-invalid"> *</span></label>
        <p-calendar [formControl]="fromTimeControl" showTime="true" hourFormat="24" appendTo="body"></p-calendar>
        <span
          *ngIf="(fromTimeControl.touched || submitted) && fromTimeControl.errors?.required"
          id="fromTimeControl"
          class="error invalid-feedback"
          style="display: block"
          >Please enter From
        </span>
      </div>
      <div class="p-field">
        <label for="toTime">To<span class="p-invalid"> *</span></label>
        <p-calendar [formControl]="toTimeControl" showTime="true" hourFormat="24" appendTo="body"></p-calendar>
        <span
        *ngIf="(toTimeControl.touched || submitted) && toTimeControl.errors?.required"
        id="toTimeControl"
        class="error invalid-feedback"
        style="display: block"
        >Please enter To
      </span>
      </div>
      
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-between">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Ok" icon="pi pi-check" class="p-button-text" [disabled]="downloadLogForm.invalid"  (click)="onDownload()"></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [closeOnEscape]="true" [(visible)]="showDialogDelete" [header]="titleDialog" [modal]="true" styleClass="p-fluid p-w-500">
  <ng-template pTemplate="content">
    <form [formGroup]="deleteLogForm">
      <div class="p-field">
        <label for="fromTime">From Date<span class="p-invalid">  {{validateSelectedDate}}</span></label>
        <p-calendar [formControl]="deleteFromTimeControl" showTime="true" hourFormat="24" appendTo="body" (onSelect)="selectToTime(deleteFromTimeControl)"></p-calendar>
        <span
          *ngIf="(deleteFromTimeControl.touched || submitted) && deleteFromTimeControl.errors?.required"
          id="deleteFromTimeControl"
          class="error invalid-feedback"
          style="display: block"
          >Please enter To Time
        </span>
      </div>
      <!-- <div class="p-text-normal">{{ name.value | date:'MM/dd/yyyy en' }}</div> -->
      <div class="p-text-normal">The attendance log will be deleted from begining to {{toTime ===''? '...': toTime | date: 'MM/dd/yyyy'}} </div>
      <!-- <div class="p-field">
        <label for="toTime">To<span class="p-invalid"> *</span></label>
        <p-calendar [formControl]="toTimeControl" showTime="true" hourFormat="24" appendTo="body"></p-calendar>
        <span
        *ngIf="(toTimeControl.touched || submitted) && toTimeControl.errors?.required"
        id="toTimeControl"
        class="error invalid-feedback"
        style="display: block"
        >Please enter To
      </span>
      </div> -->
      
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-between">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialogDelete()"></button>
      <button pButton pRipple label="Ok" icon="pi pi-check" class="p-button-text" [disabled]="deleteLogForm.invalid"  (click)="ondelete()"></button>
    </div>
  </ng-template>
</p-dialog>
<!-- <app-shipping-plan-create [shippingPlanForm]="shippingPlanForm" [products]="products" [titleDialog]="titleDialog"
  [isShowDialog]="isShowDialog" [selectedShippingPlan]="selectedShippingPlan" [isEdit]="isEdit"
  (submitEvent)="onSubmit()" (hideDialogEvent)="hideDialog()">
</app-shipping-plan-create> -->

<!-- <app-history-dialog [isShowDialog]="isShowDialogHistory" [type]="HistoryDialogType.ShippingPlan" (hideDialogEvent)="hideDialog()"> </app-history-dialog> -->
