@import 'assets/styles/custom-primeng.scss';

html {
  font-size: 0.875rem !important;
}



.p-dialog-content{
  //padding:0 !important;
  overflow-x: hidden;
}

pdf-viewer {
  display: block;
  height: 100vh;
  
}


// body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
// body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
// body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
//   margin-left: 200px;
// }
// .content-wrapper{
//   width: 100%;
//   height: 100vh;
//   background-image: url('assets/img/Dashboard.jpg');
// }

.pointer {
  cursor: pointer;
}

@media print {
  @page {
    size: 100mm 60mm;
    margin: 3mm;
  }

  footer {
    display: none;
  }

  app-print {
    display: none;
  }

  .isPrinting > * {
    display: none;
  }

  .isPrinting app-print {
    display: block;
  }

  p-confirmdialog {
    display: none;
  }
}
