.menu-full-width {
  width: 100%;

  .p-menuitem-link-active {
    background-color: #343a40;
    .p-menuitem-icon,
    .p-menuitem-text {
      color: #fff !important;
    }
  }

  .p-menuitem-link:not(.p-disabled):hover {
    background-color: #343a40;
    .p-menuitem-icon,
    .p-menuitem-text {
      color: #fff !important;
    }
  }
}

// custom width
.p-w-500 {
  width: 500px;
}

.p-w-700 {
  width: 700px;
}

.w-83 {
  width: 82%;
}

.w-100 {
  width: 100%;
}

.p-w-1000 {
  width: 1000px;
}

// custom margin
.p-mt-20 {
  margin-top: 20px;
}

.p-card-custom {
  .p-card-content {
    padding: 0px;
  }

  .p-card-body {
    padding: 0;
  }

  .p-card-footer {
    padding: 0px;
  }
}

.p-datatable {
  .p-datatable-header {
    background-color: #d9d9d9;
  }

  .p-datatable-thead > tr > th {
    background-color: #e6e6e6;
  }
}

.p-datatable-custom .p-datatable-tbody > tr > td {
  padding: 1rem !important;
}

.p-datatable-scrollable-header-box {
  padding-right: 0px !important;
}

// text-area
textarea {
  resize: none;
}
