<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left"> </ng-template>

    <ng-template pTemplate="right">
      <button class="p-button-success p-mr-2" pButton pRipple label="Generate" icon="pi pi-pencil" [disabled]="!selectedItem" (click)="generateActiveCode(selectedItem)"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #devicesDataTable
    dataKey="id"
    columnResizeMode="expand"
    [value]="products"
    [rows]="20"
    [columns]="cols"
    [paginator]="true"
    [scrollable]="true"
    [globalFilterFields]="fields"
    [(selection)]="selectedItem"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="devicesDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <th></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton (click)="selectedOneItem(item)" [value]="item"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ item[col.field] | date: 'dd/MM/yyyy h:mm:ss a' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ item[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ item[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [closeOnEscape]="true" [(visible)]="dialog" [header]="titleDialog" [modal]="true" styleClass="p-fluid p-w-500">
  <ng-template pTemplate="content">
    <form [formGroup]="deviceMachineForm">
      <div class="p-field">
        <label for="ipAddress">IP<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': ipAddressControl.invalid && (ipAddressControl.dirty || ipAddressControl.touched) }"
          pInputText
          id="ipAddress"
          [formControl]="ipAddressControl"
          type="text"
          (focusout)="focusOutFunction()"
        />
        <ng-container *ngIf="ipAddressControl.invalid && (ipAddressControl.dirty || ipAddressControl.touched)">
          <small class="p-invalid p-error">Please enter Machine IP Address</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="ipAddress">Private Code<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': privateCodeControl.invalid && (privateCodeControl.dirty || privateCodeControl.touched) }"
          pInputText
          id="ipAddress"
          [formControl]="privateCodeControl"
          type="text"
        />
        <ng-container *ngIf="privateCodeControl.invalid && (privateCodeControl.dirty || privateCodeControl.touched)">
          <small class="p-invalid p-error">Please enter Private Code</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="activeCode">Active Code<span class="p-invalid"></span></label>
        <input pInputText id="activeCode" [formControl]="activeCodeControl" type="text" disabled />
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-between">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Generate Active Code" icon="pi pi-check" class="p-button-text" [disabled]="deviceMachineForm.invalid" (click)="onSubmit()"></button>
    </div>
  </ng-template>
</p-dialog>
