<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <!-- <button (click)="openImportSection()" pButton pRipple label="Import" icon="pi pi-upload" class="p-button-primary p-mr-2"></button>
      <button (click)="exportTemplate()" pButton pRipple label="Export Template" icon="pi pi-download" class="p-button-help"></button> -->
    </ng-template>

    <ng-template pTemplate="right">
      <button class="p-button-info p-mr-2" pButton pRipple icon="pi pi-plus" label="Thêm" (click)="openCreateDialog()"></button>
      <button class="p-button-danger p-mr-2" pButton pRipple icon="pi pi-trash" label="Xóa" [disabled]="!selectedItem" (click)="deleteItem(selectedItem)"></button>
      <button class="p-button-success p-mr-2" pButton pRipple label="Sửa" icon="pi pi-pencil" [disabled]="!selectedItem" (click)="editItem(selectedItem)"></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #newsModelsDataTable
    dataKey="id"
    columnResizeMode="expand"
    [value]="news"
    [rows]="5"
    [columns]="cols"
    [paginator]="true"
    [scrollable]="true"
    [globalFilterFields]="fields"
    [(selection)]="selectedItem"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">{{ title | uppercase }}</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="newsModelsDataTable.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width.px]="col.width" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <th></th>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <ng-container *ngIf="col.field">
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </ng-container>
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">No records found</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">
            <ng-container *ngSwitchCase="TypeColumn.IdentityColumn">
              {{rowIndex + 1}}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.CheckBoxColumn">
              <p-tableRadioButton [value]="item"></p-tableRadioButton>
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.DateColumn">
              {{ item[col.field] | date: 'dd/MM/yyyy h:mm:ss a' }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.SubFieldColumn">
              {{ item[col.field][col.subField] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.NormalColumn">
              {{ item[col.field] }}
            </ng-container>
            <ng-container *ngSwitchCase="TypeColumn.ImagesColumn">
              <img style="width: 150px;height: 150px;" [src]="item[col.field]" alt="">
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [closeOnEscape]="true" [(visible)]="dialog" [header]="titleDialog" [modal]="true" styleClass="p-fluid p-w-700">
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <div class="p-field">
        <label for="title">Tiêu Đề<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': titleControl.invalid && (titleControl.dirty || titleControl.touched) }"
          pInputText
          id="title"
          [formControl]="titleControl"
          type="text"
        />
        <ng-container *ngIf="titleControl.errors?.required && (titleControl.dirty || titleControl.touched)">
          <small class="p-invalid p-error">Vui lòng nhập tiêu đề</small>
        </ng-container>
        <ng-container *ngIf="titleControl.errors?.minlength">
          <small class="p-invalid p-error">Tiêu đề không được dưới 6 ký tự</small>
        </ng-container>
        <ng-container *ngIf="titleControl.errors?.maxlength">
          <small class="p-invalid p-error">Tiêu đề chỉ được tối đa 450 ký tự</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label for="descriptions">Giới Thiệu<span class="p-invalid"> *</span></label>
        <input
          [ngClass]="{ 'ng-dirty': descriptionsControl.invalid && (descriptionsControl.dirty || descriptionsControl.touched) }"
          pInputText
          id="descriptions"
          [formControl]="descriptionsControl"
          type="text"
        />
        <ng-container *ngIf="descriptionsControl.errors?.required && (descriptionsControl.dirty || descriptionsControl.touched)">
          <small class="p-invalid p-error">Vui lòng nhập lời giới thiệu</small>
        </ng-container>
        <ng-container *ngIf="descriptionsControl.errors?.minlength">
          <small class="p-invalid p-error">Giới thiệu không được dưới 6 ký tự</small>
        </ng-container>
        <ng-container *ngIf="descriptionsControl.errors?.maxlength">
          <small class="p-invalid p-error">Giới thiệu chỉ được tối đa 450 ký tự</small>
        </ng-container>
      </div>
      <div class="p-field">
        <label >Hình Ảnh Bài Viết</label>
        <input id="file" type="file" accept="image/*" class="form-control" (change)="onFileChange($event)" />
      </div>

      <div class="p-field">
        <div class="card" style="width: 18rem">
          <ng-container *ngIf="imageUrlControl.value; else noImage">
            <img [src]="imageUrlControl.value" class="card-img-top" />
          </ng-container>
          <ng-template #noImage>
            <img src="assets/img/NoImg.jpg" class="card-img-top" />
          </ng-template>
        </div>
      </div>

      <div class="p-field">
        <label >Loại Tin Tức<span class="p-invalid"> *</span></label>
        <select formControlName="categoryId" id="categoryId" class="form-control">
          <option *ngFor="let item of categories" [value]="item.id">{{ item['categoryName'] }}</option>
        </select>
        <ng-container *ngIf="(categoryIdControl.touched || submitted) && categoryIdControl.errors?.required">
          <small class="p-invalid p-error">Xin hãy chọn loại tin tức</small>
        </ng-container>
      </div>

      <div class="p-field">
        <label > Nổi Bật</label>
      </div>
      <div class="p-field">
        <p-inputSwitch formControlName="featured" name="featured" (onChange)="handleChangeActive($event)"></p-inputSwitch>
      </div>

      <div class="p-field">
        <label>Nội Dung Bài Viết</label>
        <app-ckeditor [content]="contentControl.value" (eventOnChange)="handleValueCkChange($event)"></app-ckeditor>
      </div>

     
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-between">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="form.invalid" (click)="onSubmit()"></button>
    </div>
  </ng-template>
</p-dialog>
