.print {
  &__content {
    width: 130mm;
  }

  &__header {
    margin-bottom: 10px;
  }

  &__company-name {
    line-height: 50px;
    font-size: 35px;
  }

  &__identity {
    font-weight: bold;
  }

  &__value {
    padding-left: 10px;
    font-size: 24px;
  }

  &__value__shipping {
    font-size: 8px;
  }

  &__detail {
    font-size: 20px;
    line-height: normal;
  }
}

@media screen {
  :host {
    display: none;
  }
}

.shipping-mark {
  .print-label {
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    padding-right: 5px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col {
    padding-left: 0px;
    padding-right: 0px;
  }

  .print-row {
  }

  .company-name {
    line-height: 50px;
    font-size: 35px;
  }

  .print-value {
    font-size: 18px;
    line-height: 50px;
    text-align: left;
    font-weight: bold;
  }
}
