<ng-container *ngIf="printData && printData.receivedMark">
  <table>
    <tbody>
      <tr>
        <td>
          <div class="print__content">
            <div class="print__detail">
              <table>
                <tr *ngIf="printData && printData.receivedMark && printData.receivedMark.identifier" class="print__identity">
                  <td class="print__value">Received ID</td>
                  <td class="print__value">: {{ printData.receivedMark.identifier }}</td>
                </tr>

                <tr>
                  <td class="print__value">W/O</td>
                  <td class="print__value">: {{ printData && printData.workOrder ? printData.workOrder.refId : '' }}</td>
                </tr>

                <tr>
                  <td class="print__value">P/N</td>
                  <td class="print__value">: {{ printData && printData.product ? printData.product.productNumber : '' }}</td>
                </tr>
                <tr>
                  <td class="print__value">Qty</td>
                  <td class="print__value">: {{ printData && printData.quantity ? printData.quantity : '' }}</td>
                </tr>

                <tr>
                  <td class="print__value">Carton number</td>
                  <td class="print__value">: {{ printData && printData.sequence ? printData.sequence : '' }}</td>
                </tr>
                <tr>
                  <td class="print__value">Date</td>
                  <td class="print__value">: {{ printData && printData.printingDate ? (printData.printingDate | date: 'dd/MM/yyyy') : '' }}</td>
                </tr>

                <tr>
                  <td colspan="2">
                    <ngx-barcode *ngIf="printData && printData.identifier" [bc-height]="50" [bc-value]="printData.identifier"></ngx-barcode>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <div class="footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</ng-container>

<ng-container *ngIf="printData && printData.shippingMark">
  <main class="shipping-mark">
    <div class="row company-name">SPARTRONICS VIETNAM</div>

    <div class="row" style="width: 550px">
      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">Barcode</div>
          <div>
            <ngx-barcode [bc-height]="40" [bc-width]="0.5" [bc-display-value]="true" [bc-value]="printData?.identifier"></ngx-barcode>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">P/N</div>
          <div>
            <ngx-barcode [bc-display-value]="true" [bc-height]="40" [bc-width]="0.5" [bc-value]="printData?.product?.productNumber"></ngx-barcode>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">W/O</div>
          <div>
            <ngx-barcode [bc-display-value]="true" [bc-height]="40" [bc-width]="1" [bc-value]="printData?.printInfo?.workOrder?.refId"></ngx-barcode>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">Qty</div>
          <div>
            <ngx-barcode [bc-display-value]="true" [bc-height]="40" [bc-width]="1" [bc-value]="printData?.quantity"></ngx-barcode>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">P/O</div>
          <div>
            <ngx-barcode [bc-display-value]="true" [bc-height]="40" [bc-width]="1" [bc-value]="printData?.printInfo?.purchaseOrder"></ngx-barcode>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">CartonNumber</div>
          <div class="print-value">{{ printData?.sequence }} / {{ printData?.printInfo?.totalPackages }}</div>
        </div>
      </div>

      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">Weight</div>
          <div class="print-value">{{ printData?.printInfo?.weight }}</div>
        </div>
      </div>

      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">ShippingDate</div>
          <div class="print-value">{{ printData?.printInfo?.shippingRequest?.shippingDate | date: 'dd/MM/yyyy' }}</div>
        </div>
      </div>

      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">PartRevision</div>
          <div class="print-value">{{ printData?.product?.partRevisionRaw }}</div>
        </div>
      </div>

      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">DrawingRevision</div>
          <div class="print-value">{{ printData?.product?.processRevision }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">Revision</div>
          <div class="print-value">{{ printData?.product?.revision }}</div>
        </div>
      </div>
      <div class="col-6">
        <div class="row print-row">
          <div class="print-label">MadeIn</div>
          <div class="print-value">VietNam</div>
        </div>
      </div>

      <div class="col-12">
        <div class="row print-row">
          <div class="print-label">To</div>
          <!-- <div class="print-value">{{ printData?.printInfo?.shippingRequest?.shipTo }}</div> -->
          <div class="print-value">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium provident explicabo perspiciatis dolore dolores et atque sint, ex fugit voluptates, minus ab eos
            placeat magni ullam quas soluta qui voluptatum.
          </div>
        </div>
      </div>
    </div>
  </main>
</ng-container>
